<%= flash[:notice] %> <!-- mensagem interna - nesse caso foi de sucesso ao logar sistema -->

<h1>Rental Cars</h1>

<h2>Bem vindo ao sistema de gestão de locação</h2>


<%= link_to 'Entrar', new_user_session_path %>
<%= link_to 'Fabricantes', manufacturers_path %> <!--tag usada para ruby com html. A palavra Fabricantes é o que vai aparecer na página. O manufactures_path é o link da rota -->
<%= link_to 'Categorias de Carros', car_categories_path %>
<%= link_to 'Modelos de Carros', car_models_path %>
<%= link_to 'Locações', rentals_path %>