<h1>Rental Cars</h1>

<h2>Bem vindo ao sistema de gestão de locação</h2>

<h3><%= I18n.translate('hello') %></h3>

<p><%= number_to_currency 100 %></p> <!-- o método number_to_currency faz transformar o 100 em R$ 100,00 por causa do tradutor -->

<p><%= I18n.localize Date.today %></p> <!-- o método localize Date.today traz a data corrente no formato brasileiro -->

<%= link_to 'Fabricantes', manufacturers_path %> <!--tag usada para ruby com html. A palavra Fabricantes é o que vai aparecer na página. O manufactures_path é o link da rota -->
<%= link_to 'Registrar nova categoria de carro', new_car_category_path %>