<h1><%= @car_model.name %></h1>
<dl>
  <dt>Fabricante:</dt>
  <dd><%= @car_model.manufacturer.name %></dd> <!-- tá vindo do model no belongs_to-->
  <dt>Categoria:</dt>
  <dd><%= @car_model.car_category.name %></dd>
  <dt>Combustível:</dt>
  <dd><%= @car_model.fuel_type %></dd>
  <dt>Motor:</dt>
  <dd><%= @car_model.motorization %></dd>
  <dt>Ano:</dt>
  <dd><%= @car_model.year %></dd>
</dl>